.main{
    /* text-align: center; */
    
    /* border: 1px solid black; */
    height: 550px; 
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 17px;
    color: rgb(109, 0, 199);
    text-shadow: 2px 2px 3px rgb(187, 159, 239);
}
.second-head{
    font-size: 38px;
}
/* 

div {
    animation: rotate-all 2s 0 infinite linear alternate;
}
  
.div1 {
width: 80px;
height: 80px;
background-color: #669999;
position: relative;
margin: auto;
animation: square-to-circle 4.5s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;

}

.div2 {
    width: 80px;
height: 80px;
background-color: #669999;
position: relative;
margin: auto;
animation: square-to-circle2 4.5s .42s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;
}

#one {
top: 150px;
}

#two {
top: 150px;
right: 80px;
}





#three {
top: 150px;
}

#four {
bottom: 10px;
left: 80px;
}

@keyframes square-to-circle {
0%  {
    border-radius:0 0 0 0;
    background:;
    transform:rotate(45deg);
}
25%  {
    border-radius:50% 0 0 0;
    background:darksalmon;
    transform:rotate(135deg);
}
50%  {
    border-radius:50% 50% 0 0;
    background:indianred;
    transform:rotate(180deg);
}
75%  { 
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(315deg);
}
100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(404deg);
}
}

@keyframes square-to-circle2 {
0%  {
    border-radius:0 0 0 0;
    background:;
    transform:rotate(45deg);
}
25%  {
    border-radius:0 0 50% 0;
    background:darksalmon;
    transform:rotate(135deg);
}
50%  {
    border-radius:0 0 50% 50%;
    background:indianred;
    transform:rotate(180deg);
}
75%  { 
    border-radius:50% 0 50% 50%;
    background:lightcoral;
    transform:rotate(315deg);
}
100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(404deg);
}
} */



  
  
  